APP_NAME=metric-tracking
APP_ENV=local
HTTP_HOST=localhost
HTTP_PORT=3000
URL_VERSIONING_ENABLE=false
URL_VERSION=1

DB_HOST=localhost
DB_PORT=5432
DB_NAME=metric_tracking
DB_USER=postgres
DB_PASS=postgres
DATABASE_DEBUG=false
